// Agrandar thumbnails de publicaciones
.bibliography {
  .col-sm-2.abbr {
    flex: 0 0 auto;
    width: 28%;
    max-width: 280px;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 68%;
  }
  .preview {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .bibliography {
    .col-sm-2.abbr,
    .col-sm-8 {
      width: 100%;
      max-width: 100%;
    }
  }
}